.back-button{
  font-size: 32px;
  margin: 15px;
  text-align: center;
  border-radius: 13px;
}

.product-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .product-image {
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
  }

  .details {
    // text-align: center;
    padding: 15px;
    border-top: 1px solid black;
    margin-top: 10px;

    .product-title {
      font-size: 24px;
      font-weight: bold;
      margin: 10px 0;
    }

    .discount {
      font-size: 20px;
      color: rgb(7, 7, 7);
      font-weight: bold;
    }

    .description {
      font-size: 16px;
      margin: 10px 0;
    }

    .price {
      font-size: 26px;
      font-weight: bold;
      color: #e31907;
    }

    .product-mrp {
      color: gray;
      font-weight: bold;
      font-size: 15px;
    }

    .mrp-underline {
      text-decoration: line-through;
    }

    .bank-offer {
      font-size: 22px;
      color: #040303a9;
      font-weight: bold;
    }

    .buy-now {
      background: #ff9800;
      border: none;
      padding: 10px;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      margin-top: 15px;
      border-radius: 5px;

      &:hover {
        background: #f57c00;
      }
    }
  }
}